- if not current_user
  %a.btn.btn-primary(href='/auth/twitter') Authorize Your Account
- else
  = form_tag("/mute", method: "post", class: "form-group form-inline") do
    = label_tag("mute", "Person to mute", class: "sr-only")
    .input-group
      .input-group-addon @
      = text_field_tag("target", "", class: "form-control")
    = submit_tag("Mute!", class: "btn btn-primary")
