body
    background-image: url(https://2.bp.blogspot.com/-UGxQTdplQmY/UAm9j39zmiI/AAAAAAAAKXQ/GavK1hAXRv0/s1600/spriterealbg09.jpg)
    background-size: cover

.container
    overflow-x: hidden

.code-icon
    position: absolute
    top: 12px
    right: 18px

footer
    margin-top: 30px
    text-align: left

form
    text-align: center

.btn
    margin-top: 10px
    margin-bottom: 10px

.centered
    margin-left: auto
    margin-right: auto

.bottom
    display: flex
    justify-content: center

.jumbotron
    position: relative
    text-align: center
    background-color: rgba(#eee, 0.99)
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.35)
    padding-top: 18px
    padding-bottom: 18px
    margin-top: 30%

    h1
        font-size: 2em
        margin-bottom: 30px

    @media (max-width: 768px)
        margin-left: -20px
        margin-right: -20px

.avatar
    border-radius: 50%

.name
    margin-left: 10px

.close
    opacity: 0.8

    &:hover
        color: #699

.user-list
    margin: 0 auto
    padding: 0
    text-align: left
    display: inline-block
    list-style: none

    li
        padding: 10px 20px
        margin: 10px
        background-color: #e5e5e5
        border-radius: 10px
        font-weight: 500

.user-info
    display: inline-block

.fa-close
    color: #B0171F
    height: 48px
    width: 48px
    font-size: 48px
